
.add-area{
    width: 100%;
    margin: 50px 0;
    text-align: center;
    color: white;
}

.add-from {
    width: 50%;
    margin: auto;

}

.add-area .input-fild {
    display: flex;
    text-align: left;
    flex-direction: column;
}

.add-area .button input {
    width: 100%;
    letter-spacing: 1px;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(4, 80, 99, 0.612);
    cursor: pointer;
}

.add-area .input-fild label {
    margin-left: 10px;
}
.add-area .input-fild input {
    font-size: 16px;
    color: white;
    padding: 10px 30px 10px;
    width: 92%;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(4, 80, 99, 0.612);
}
.add-area .input-fild input::placeholder {
    font-size: 15px;
}
.add-area .button{
    width: 50%;
    margin: auto;
}
.add-area .button input:hover {
    width: 100%;
    color: white;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(4, 80, 99, 0.838);
    cursor: pointer;
}

