body{
    background-image: url(../src/asset/images/back-ground2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    

};
.App{
    position: relative;
}
.navbar{
    position: sticky;
    top:0;
    left: 0;
    z-index: 999;
}